@import '../../../assets/variables';

.paginated-table {
  display: grid;
  grid-gap: $spacing-small;
  width: 100%;

  &__empty-state {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .value {
    font-size: $tiny;
    font-family: $font-family;
    color: $text-weak;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: grid;
    grid-gap: $spacing-table;

    &--primary, &--highlight {
      color: $primary;
    }

    a {
      text-decoration: none;
      color: $highlight;
      font-weight: bold;

      &:hover {
        color: $success;
      }
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      font-family: $secondary-font-family;
      font-weight: 700;
      color: $primary-dark;
    }
  }

  table {
    display: grid;
    grid-gap: $spacing-small;

    thead {
      display: none;
    }

    tbody {
      display: grid;
      grid-gap: $spacing-small;
      width: 100%;

      tr {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        background: white;
        box-shadow: $box-shadow;
        border-radius: $border-radius-large;
        padding: $spacing $spacing-small;
        grid-column-gap: $spacing-small;
        grid-row-gap: $spacing-smaller;

        @media (min-width: $mobile-large) {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

        @media (min-width: $tablet) {
          padding: $spacing-medium $spacing;
          grid-column-gap: $spacing;
          grid-row-gap: $spacing-small;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    background: white;
    padding: $spacing 0;
    grid-template-rows: 1fr 32px;
    grid-gap: $spacing;

    .pagination {
      padding: 0 $spacing;
    }

    table {
      width: 100%;
      border-spacing: 0;

      thead, tbody {
        display: table;

        tr {
          display: table;
          background: initial;
          box-shadow: none;
          border-radius: initial;
          padding: initial;

          th:first-child, td:first-child {
            padding-left: $spacing;
          }

          th:last-child, td:last-child {
            padding-right: $spacing;
          }
        }
      }

      thead {
        tr > th {
          padding-bottom: $spacing;
          text-align: start;
          font-family: $font-family;
          font-weight: 700;
          color: $primary-dark;
          font-size: $label;
        }
      }

      tbody {
        tr:nth-child(odd) {
          background: $background-table;
        }

        .value--primary {
          font-weight: 700;
        }

        tr {
          td {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
