.pagination {

  .label {
    font-size: 14px;
  }

  .navigation-input {
    background: white;
    font-size: 10px;
    height: 28px;
  }

  .navigation-info {
    grid-auto-flow: column;
    justify-content: space-between;
    justify-self: center;
    width: 260px;
    align-items: center;
  }

  .navigation-button {
    font-size: 10px;
    padding: 0px 10px;
  }

  .navigation-menu {
    grid-template-columns: min-content 20px min-content;
    justify-ontent: space-between;
    height: 100%;
  }

  @media (min-width: 768px) {
    .label {
      font-size: 18px;
    }

    .navigation-input {
      font-size: 14px;
    }

    .navigation-info {
      width: 320px;
    }

    .navigation-button {
      font-size: initial;
      padding: 4px 12px;
    }

    .navigation-menu {
      grid-template-columns: min-content 40px min-content;
    }
  }
}
