@import '../../../assets/variables';

.url {
  text-decoration: none;
  color: $primary;
  font-weight: 500;
  cursor: pointer;
  font-family: $font-family;

  &:hover {
    color: $primary-dark;
  }
}
