@import '../../../assets/variables';

.search-bar {
  background: white;
  border-radius: $border-radius-large;
  display: grid;
  grid-gap: $spacing-smaller;
  grid-template-columns: 24px 1fr;
  padding: $spacing-smaller $spacing-small;
  height: 48px;
  align-items: center;

  @media (min-width: $desktop) {
    padding: $spacing-small $spacing;
  }

  &--dark {
    background: $background;
  }

  &--slim {
    border-radius: 0;
    grid-template-columns: 1fr;
    padding: $spacing-tiny 0;
    height: 34px;

    svg {
      display: none;
    }
  }

  input {
    border: none;
    outline: none;
    font-family: $font-family;
    font-size: $tiny;
    padding: 0;

    @media (min-width: $desktop) {
      font-size: $tinier;
    }

    &::placeholder {
      color: $text-weak;
      font-family: $font-family;
      font-size: $tinier;
    }

    &:focus {
      &::placeholder {
        color: white;
      }
    }
  }

  &--error {
    input {
      color: $error;
    }
  }
}
