@import '../../../assets/variables';

.clipboardable {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: $tiniest;

  &__button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
    display: grid;
    align-items: start;
    justify-items: start;

    img {
      width: 16px;
      height: 16px;
      opacity: 0.75;
      transition: width 250ms ease, height 250ms ease, opacity 250ms ease;
    }

    &--copied {
      img {
        width: 15px;
        height: 15px;
        opacity: 1;
      }
    }
  }
}
