@import '../../assets/variables';

.header-cards {
  display: grid;
  grid-auto-rows: 88px;
  grid-gap: $spacing-small;

  @media (min-width: $tablet) {
    grid-template-rows: repeat(2, 88px);
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-rows: 88px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__card {
    height: 88px;
    display: grid;
    grid-template-columns: 36px max-content;
    grid-template-rows: repeat(2, 1fr);
    padding: $spacing-small $spacing-medium;
    grid-column-gap: $spacing-smaller;

    svg {
      height: 36px;
      width: 36px;
      grid-row: 1 / span 2;
      align-self: center;
    }

    .header-card {
      &__label {
        font-family: $secondary-font-family;
        color: $text-neutral;
        font-weight: bold;
        font-size: $tiny;
        grid-column: 2;
        grid-row: 1;
      }

      &__value {
        font-family: $secondary-font-family;
        color: $primary;
        font-size: $smaller;
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
}
